.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


.container img{
    margin-top: 10px;
    border-radius: 50%;
    width: 16%;
    /* background: linear-gradient(270deg, #2674e8 30%, #51cbf3 80%); */
}
.container h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.container h1 span{
    background: linear-gradient(270deg, #2674e8 10%, #51cbf3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container p{
    width: 50%;
   text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 500;
}
.home-connect{
    padding: 15px 25px;
    background: linear-gradient(265deg,#2674e8 -5.09%, #51cbf3 106.28%);
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}
.home-resume{
    padding: 20px 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.home-connect:hover{
    border: 2px solid #fff;

}
.home-resume:hover{
    border-color: #2674e8;
}

@media(max-width:768px){
    .container{
        padding-top: 30px;
    }
  .container h1{
    font-size: 35px;
    width: 90%;
  }
  .container img{
    width: 50%;
  }
  .container p{
    font-size: 18px;
    width: 90%;
    line-height: 25px;
  }
  .action{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
}
.home-connect{
    padding: 10px 20px;
}
.home-resume{
    padding: 10px 20px;

}

}